<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alaabid.eniso">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Join" />
        <activity android:name=".LearnMore" />
        <activity android:name=".Login" />
        <activity android:name=".Timetable" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EventSchedulerActivity"
            android:label="Event Scheduler"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Documents"
            android:label="@string/title_activity_documents"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Contatcts"
            android:label="@string/title_activity_contatcts"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Profil"
            android:label="@string/title_activity_profil"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Emploi"
            android:label="@string/title_activity_emploi"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>